.numbers{
    width: 100%;
    display: flex;
    height: auto;
    padding-top: 40px;
    padding-bottom: 100px;

        .numbers-content{
            justify-content: space-around;
            width: 100%;
            display: grid;
            grid-template-columns: 9em 9em 9em 9em;

            @media (max-width:731px) {
                grid-template-columns: 1fr 1fr;
                row-gap: 2em;
            }
            @media (max-width:475px) {
                grid-template-columns: 1fr;
                row-gap: 2em;
            }
            .card{
                width: 100%;
                display: inline-block;
                height: 8em;
                text-align: center;

                span{
                    font-size: 60px;
                    line-height: 72px;
                    color: #cccccc;                
                }

                h2{
                    font-size: 20px;
                    line-height: 40px;
                    text-transform: uppercase;
                    color: black;
                }
            }
        }
}

.footer{
    width: 100%;
    display: flex;
    background-color: #000000;
    background-image: url(/imgs/mountain_footer.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 0;
    color: #fff;
    padding-top: 240px;
    padding-bottom: 100px;
    height: auto;

    .footer-content{
        width: 100%;
        height: auto;
        display: flex;
       

       @media (max-width: 1200px) {
           display: block;
       }

        .info{
            width: 100%;
            display: block;
            height: auto;
            background-color: none;
            

            h2{
                font-size: 40px;
                letter-spacing: 2px;
                line-height: 56px;
                text-align: left;
                text-transform: uppercase;
                font-weight: 400;
                color: #fff;
                padding: 15px 0 30px 0;
            }

            .info-text{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 10px;
                @media (max-width: 647px) {
                    grid-template-columns: 1fr;

                }

                .card{
                    width: 100%;
                    display: inline-block;
                    height: auto;

                    h4{
                        text-align: left;
                        color: #fff;

                        @media (max-width: 647px) {
                            text-align: center;
                        }
                    }
                    
                    .icon{
                        width: 100%;
                        display: flex;

                        img{
                            width: 40px;
                            height: 40px;
                            float: left;

                            animation-name: icon;
                            animation-duration: 0.7s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            animation-delay: 0s;

                            @keyframes icon {
                                from{
                                    transform: rotate(15deg);
                                }
                                to{
                                    transform: rotate(-15deg);
                                }
                            }
                        }
                    }
                }
            }
        }

        .social{
            width: 100%;
            display: inline-block;
            background-color: none;

            ul{
                display: flex;
                padding-top: 2em;
                justify-content: flex-end;
                padding-bottom: 1em;

                @media (max-width: 1200px) {
                    justify-content: center;
                }

                li{
                    list-style: none; 
                    cursor: pointer;
                    margin: 10px;

                    a{
                        color: #fff;
                        text-decoration: none;
                        vertical-align: top;
                        padding: 0;
                        font-family: Oswald,sans-serif;
                        font-style: normal;
                        font-size: 35px;
                        font-weight: 600;
                        line-height: 28px;
                        text-transform: uppercase;
                        transition: 0.5s;

                        &:hover{
                            color: #B7C8E2;
                        }
                    }
                }
            }

            .text{
                width: 100%;
                display: inline-block;

                h4{
                    color: #fff;
                    text-align: right;

                    @media (max-width: 780px) {
                        text-align: center;
                    }
                }
                p{
                    padding: 0.6em;
                }
            }
        }
    }
}